<% include ./partials/header %>
<link rel="stylesheet" href="/stylesheets/index.css">
<% include ./partials/nav %>


<div class="container-fluid">
  <h1 class="display-4 title">Tic Tac Toe</h1>
  <br>
  <p class="content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem non earum sapiente, soluta consequatur suscipit
    praesentium rerum maiores ipsum omnis neque minima quas enim explicabo similique unde, ratione ipsam quo?
  </p>
  <br>
  <hr>
  <br>
  <a href="/" class="btn-lg btn-success indexbutton">Download</a>
  <a href="/register" class="btn-lg btn-success indexbutton">Register</a>

</div>


<% include ./partials/footer %>